header.header{
    & .welcome-message{
        width: 100%;
         & img{
            width: 200px;
        }
    }
    & .header-actions{
        width: 100%;
        height: auto;
        
        & .link-actions{
            border:1px solid red;
            height: 100px;
            @include radius-all;
        }
    }
}