
<body>
    <header class="header">
        <div class="container-full">
            <div class="container">
                <nav class="navigation vertical-center">
                    <a href="#" class="logo">Find my pet</a>
                </nav>
            </div>
            
        </div>
    </header>
    <section class="post-creator">
        <div class="container-full">
            <div class="container">
            <form action="/upload" method="POST" enctype="multipart/form-data" class="row">
                <div class="form-container  image-upload padding-1vw">
                    <input style="display: none;" type="file" name="file" id="input-photos"  required/>
                    <label for="input-photos" class="center-all">
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 36.174 36.174" style="enable-background:new 0 0 36.174 36.174;" xml:space="preserve"><g><path d="M23.921,20.528c0,3.217-2.617,5.834-5.834,5.834s-5.833-2.617-5.833-5.834s2.616-5.834,5.833-5.834S23.921,17.312,23.921,20.528z M36.174,12.244v16.57c0,2.209-1.791,4-4,4H4c-2.209,0-4-1.791-4-4v-16.57c0-2.209,1.791-4,4-4h4.92V6.86c0-1.933,1.566-3.5,3.5-3.5h11.334c1.934,0,3.5,1.567,3.5,3.5v1.383h4.92C34.383,8.244,36.174,10.035,36.174,12.244z M26.921,20.528c0-4.871-3.963-8.834-8.834-8.834c-4.87,0-8.833,3.963-8.833,8.834s3.963,8.834,8.833,8.834C22.958,29.362,26.921,25.399,26.921,20.528z"/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                    </label>
                    
                </div>
                <div class="form-container main-info padding-1vw center-all column">
                    <p class="margin-top-30">
                        <input type="text" name="namePost" placeholder="Назва оголошення" class="big" required>
                    </p>
                    <p>
                        <input type="text" name="Owner" placeholder="Власник" class="medium" required>
                    </p>
                    <p>
                        <input type="tel" name="phone" placeholder="+380660707070" class="medium">
                    </p>
                    <p>
                        <input type="email" name="email" id="" placeholder="email" required class="medium">
                    </p>
                    <p>
                        <select name="city" id="" required>
                            <option selected value="one">Оберіть місто</option>
                            <option value="two">Two</option>
                            <option value="three">Three</option>
                            <option value="four">Four</option>
                        </select>
                    </p>
                    <p>
                        <input type="text" name="street" id="" placeholder="Вулиця" class="medium">
                    </p>
                </div>
                <!-- 
                <input type="text" name="city" placeholder="city">
                <select name="typeAnimal" id="">
                    <option value="one">One</option>
                    <option value="two">Two</option>
                    <option value="three">Three</option>
                    <option value="four">Four</option>
                </select>
                <input type="text" name="weight" placeholder="Weight">
                <textarea name="info" id="" rows="10"></textarea> -->
                <div class="form-container padding-1vw margin-top-20">
                    <h3>Інформація про тварину</h3>
                    <p>
                        <select name="animal" id="" required>
                            <option value="one" selected>Вид тварити</option>
                            <option value="cat">Кіт</option>
                            <option value="dog">Собака</option>
                            <option value="horse">Кінь</option>
                        </select>
                    </p>
                    <p>
                        <select name="typeAnimal" id="">
                            <option value="one" selected>Порода</option>
                            <option value="cat">Порода 1</option>
                            <option value="dog">Порода 2</option>
                            <option value="horse">Порода 3</option>
                        </select>
                    </p>
                    <p>
                        <select name="weightAnimal" id="">
                            <option value="one" selected>Оберіть вагу</option>
                            <option value="lessOne">Менше 1к</option>
                            <option value="lessFive">Від 1кг до 5кг</option>
                            <option value="toTen">Від 5кг до 10кг</option>
                            <option value="minTen">Від 10кг</option>
                        </select>
                    </p>
                    <p>
                        <textarea name="animalInfo" id="" placeholder="Опис вашої тварини"></textarea>
                    </p>
                </div>
                <div class="form-container margin-top-20">
                    <div id="map"></div>
                </div>
            </form>
            </div>

        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.js" integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script>
        


        $('.footer-slider').slick({
            infinite: true,
            autoplay: true,
            autoplaySpeed: 0,
            cssEase: 'linear',
            speed: 4000,
            slidesToShow: 6,
            slidesToScroll: 1,
            arrows: false,
            dragble: false,
            responsive: [
                {
                    breakpoint: 600,
                    settings: {
                    slidesToShow: 3,
                    slidesToScroll: 1
                    }
                },
                {
                    breakpoint: 768,
                    settings: {
                    slidesToShow: 5,
                    slidesToScroll: 1
                    }
                }

                ]
        }); 
    </script>
    <script>
        var mymap = L.map('map').setView([51.505, -0.09], 13);
    </script>
</body>
