<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
</head>
<body>
    <form method="post">
        <p><b>Ваш ім'я</b><br>
            <input type="text" size="40">
        </p>
        <p><b>Ваш email</b><br>
            <input type="text" size="40">
        </p>
        <p><b>Номер телефону</b><br>
            <input type="text" size="40">
        </p>
        <p><b>Місто</b><br>
            <input type="text" size="40">
        </p>
        <p><b>Тип тварини</b><br>
            <input type="text" size="40">
        </p>
        <p><b>Колір</b><br>
            <input type="text" size="40">
        </p>
        <p><b>Вага</b><br>
            <input type="text" size="40">
        </p>
        <p><b>Розмір</b><br>
            <input type="text" size="40">
        </p>
         <p><b>Опис</b><br>
            <textarea rows="10" cols="45" name="text"></textarea>
        </p>

    
        <input type="submit" value="Опублікувати" />
    </form>
</body>
</html>