footer.footer{
    width: 100%;
    ul{
        width: 100%;
        height: 100px;
        li{
            height: 50px;
            display: flex !important;
            font-size: $h4-size;
            outline:  none;
        }
    }
}