.post-creator{
    width:100%;
    form{
        width: 100%;
        height: auto;
        p{
            width: 100%;
            textarea{
                width: 100%;
                height: 300px;
                resize: none;
            }
            select{
                box-sizing: border-box;
                padding: 5px;
                width: 100%;
                height: 45px;
            }
        }
        .form-container:nth-child(1n){
            width: 40%;
        }
        .form-container:nth-child(2n){
            width: 60%;
            select{
                width: 80%;
                height: 45px;
            }
        }
        .form-container{
            min-height: 400px;
            box-sizing: border-box;
            
            #map{
                width: 100%;
                height: 100%;
            }
            input{
                width: 80%;
                border-bottom: 2px solid $grey-color;
            }
            input:focus{
                background-color: $grey-color;
            }
            input.big{
                height: 75px;
                font-size: $h3-size;
                text-transform: uppercase;
            }
            input.medium{
                height: 45px;
                font-size: $h5-size;
            }

        }
        .form-container.image-upload{
            @include radius-all;
            #upload-photo {
                opacity: 0;
                position: absolute;
                z-index: -1;
             }
             label{
                width: 100%;
                height: 100%;
                cursor: pointer;
                background-color: $red-color;
                @include default-transition;
                @include radius-all;
                svg{
                    fill: $white-color;
                    width: 100px;
                }
            }
            label:hover{
                background-color: $green-color;
            }


        }
    }
}

